<!DOCTYPE html>
<html>
<body>

//button(type="button" style="background-color: #f8e5e7; margin-right: 5px;" class="btn btn mb-3" onclick=`window.location='/createApplication'`)="Create Application"
//button(type="button" style="background-color: #f8e5e7; margin-right: 5px;" class="btn btn mb-3" onclick=`window.location='/createPlan'`)="Create Plan"
//button(type="button" style="background-color: #f8e5e7;" class="btn btn mb-3" onclick=`window.location='/createTask'`)="Create Task"

<div>
  <iframe width="150" height="1024" style="display: inline-block; box-sizing: border-box; border: 1px solid black;" src="/appList2"></iframe>
  //<iframe width="1024" height="1024" style="display: inline-block; box-sizing: border-box; border: 1px solid black;" src="/taskList"></iframe>
</div>

</body>
</html>