/* css for application list */

.appList table { 
    width: 100%; 
    border-collapse: collapse; 
}
/* Zebra striping */
.appList tr:nth-of-type(odd) {
    background: #eee; 
}
.appList th { 
    background: #f8e5e7; 
    color: black; 
    font-weight: bold; 
}
.appList td, .appList th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    table, thead, tbody, th, td, tr { 
		display: block; 
	}
    /* Hide table headers (but not display: none;, for accessibility) */
	.appList thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.appList tr { border: 1px solid #ccc; }
	
	.appList td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	.appList td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
        font-weight: bold;
		white-space: nowrap;
	}

    /** Label the data **/

    .appList td:nth-of-type(1):before { content: "App Acronym"; }
	.appList td:nth-of-type(2):before { content: "Description"; }
	.appList td:nth-of-type(3):before { content: "Release Number"; }
	.appList td:nth-of-type(4):before { content: "Start Date"; }
	.appList td:nth-of-type(5):before { content: "End Date"; }
	.appList td:nth-of-type(6):before { content: "Open Permit"; }
	.appList td:nth-of-type(7):before { content: "ToDoList Permit"; }
	.appList td:nth-of-type(8):before { content: "Doing Permit"; }
	.appList td:nth-of-type(9):before { content: "Done Permit"; }
	.appList td:nth-of-type(10):before { content: "Create Task Permit"; }
    .appList td:nth-of-type(11):before { content: "Create Plan Permit"; }
    .appList td:nth-of-type(12):before { content: "Create Date"; }
    .appList td:nth-of-type(13):before { content: "Action"; }
}

/* css for task list */

.taskList table { 
    width: 100%; 
    border-collapse: collapse; 
}
/* Zebra striping */
.taskList tr:nth-of-type(odd) {
    background: #eee; 
}
.taskList th { 
    background: #f8e5e7; 
    color: black; 
    font-weight: bold; 
}
.taskList td, .taskList th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    table, thead, tbody, th, td, tr { 
		display: block; 
	}
    /* Hide table headers (but not display: none;, for accessibility) */
	.taskList thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.taskList tr { border: 1px solid #ccc; }
	
	.taskList td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	.taskList td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
        font-weight: bold;
		white-space: nowrap;
	}

    /** Label the data **/

    .taskList td:nth-of-type(1):before { content: "ID"; }
	.taskList td:nth-of-type(2):before { content: "Name"; }
	.taskList td:nth-of-type(3):before { content: "Description"; }
	.taskList td:nth-of-type(4):before { content: "Notes"; }
	.taskList td:nth-of-type(5):before { content: "Assigned Plan"; }
	.taskList td:nth-of-type(6):before { content: "Assigned App"; }
	.taskList td:nth-of-type(7):before { content: "State"; }
	.taskList td:nth-of-type(8):before { content: "Creator"; }
	.taskList td:nth-of-type(9):before { content: "Owner"; }
	.taskList td:nth-of-type(10):before { content: "Create Date"; }
    .taskList td:nth-of-type(11):before { content: "Action"; }
}

/* css for plan list */

.planList table { 
    width: 100%; 
    border-collapse: collapse; 
}
/* Zebra striping */
.planList tr:nth-of-type(odd) {
    background: #eee; 
}
.planList th { 
    background: #f8e5e7; 
    color: black; 
    font-weight: bold; 
}
.planList td, .planList th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    table, thead, tbody, th, td, tr { 
		display: block; 
	}
    /* Hide table headers (but not display: none;, for accessibility) */
	.planList thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.planList tr { border: 1px solid #ccc; }
	
	.planList td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	.planList td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
        font-weight: bold;
		white-space: nowrap;
	}

    /** Label the data **/

    .planList td:nth-of-type(1):before { content: "Plan MVP Name"; }
	.planList td:nth-of-type(2):before { content: "Start Date"; }
	.planList td:nth-of-type(3):before { content: "End Date"; }
	.planList td:nth-of-type(4):before { content: "Assigned App"; }
	.planList td:nth-of-type(5):before { content: "Create Date"; }
	.planList td:nth-of-type(6):before { content: "Action"; }
}