@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

body {
    font-family: Poppins;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

/* css for login */

.login {
    width: 500px; 
    background-color: #ffffff; 
    margin: auto;
}

.login form {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    padding: 25px;
}

.login form input[type="text"], .login form input[type="password"] {
    padding: 12px; 
    border-radius: 4px; 
    margin: 5px 0; 
    opacity: 0.85; 
    display: inline-block; 
    font-size: 17px; 
    line-height: 20px;
}

.login form button[type="submit"] {
    background-color: #f8e5e7; 
    color: black; 
    font-weight: bold; 
    width: 100%; 
    padding: 14px 20px; 
    margin: auto; 
    cursor: pointer;
}

/** css for navbar **/

nav {
    background-color: #f8e5e7;
}

/* css for update email */

.updateEmail form button[type="submit"], .updateEmail form button[type="button"] {
    font-weight: bold;
    list-style: none;
    text-align: center;
    width: 150px;
    margin: auto;
    line-height: 60px;
}

.updateEmail form button[type="submit"] {
    background-color: #f8e5e7; 
}

.updateEmail form button[type="button"] {
    background-color: #98fb98; 
}

/* css for create user */

.createUser form button[type="submit"], .createUser form button[type="button"] {
    font-weight: bold;
    list-style: none;
    text-align: center;
    width: 150px;
    margin: auto;
    line-height: 60px;
}

.createUser form button[type="submit"] {
    background-color: #f8e5e7; 
}

.createUser form button[type="button"] {
    background-color: #98fb98; 
}

/* css for edit user */

.editUser form button[type="submit"], .editUser form button[type="button"] {
    font-weight: bold;
    list-style: none;
    text-align: center;
    width: 150px;
    margin: auto;
    line-height: 60px;
}

.editUser form button[type="submit"] {
    background-color: #f8e5e7; 
}

.editUser form button[type="button"] {
    background-color: #98fb98; 
}

/* css for change password */

.changePassword form button[type="submit"], .changePassword form button[type="button"] {
    font-weight: bold;
    list-style: none;
    text-align: center;
    width: 150px;
    margin: auto;
    line-height: 60px;
}

.changePassword form button[type="submit"] {
    background-color: #f8e5e7; 
}

.changePassword form button[type="button"] {
    background-color: #98fb98; 
}

/* css for create group */

.createGroup form button[type="submit"], .createGroup form button[type="button"] {
    font-weight: bold;
    list-style: none;
    text-align: center;
    width: 150px;
    margin: auto;
    line-height: 60px;
}

.createGroup form button[type="submit"] {
    background-color: #f8e5e7; 
}

.createGroup form button[type="button"] {
    background-color: #98fb98; 
}

/** css for assign group */

.assignGroup form button[type="submit"], .assignGroup form button[type="button"] {
    font-weight: bold;
    list-style: none;
    text-align: center;
    width: 150px;
    margin: auto;
    line-height: 60px;
}

.assignGroup form button[type="submit"] {
    background-color: #f8e5e7; 
}

.assignGroup form button[type="button"] {
    background-color: #98fb98; 
}

/** css for remove group */

.removeGroup form button[type="submit"], .removeGroup form button[type="button"] {
    font-weight: bold;
    list-style: none;
    text-align: center;
    width: 150px;
    margin: auto;
    line-height: 60px;
}

.removeGroup form button[type="submit"] {
    background-color: #f8e5e7; 
}

.removeGroup form button[type="button"] {
    background-color: #98fb98; 
}


/* css for create task */

.createTask form button[type="submit"], .createTask form button[type="button"] {
    font-weight: bold;
    list-style: none;
    text-align: center;
    width: 150px;
    margin: auto;
    line-height: 60px;
}

.createTask form button[type="submit"] {
    background-color: #f8e5e7; 
}

.createTask form button[type="button"] {
    background-color: #98fb98; 
}

/* css for create application */

.createApplication form button[type="submit"], .createApplication form button[type="button"] {
    font-weight: bold;
    list-style: none;
    text-align: center;
    width: 150px;
    margin: auto;
    line-height: 60px;
}

.createApplication form button[type="submit"] {
    background-color: #f8e5e7; 
}

.createApplication form button[type="button"] {
    background-color: #98fb98; 
}

/* css for create plan */

.createPlan form button[type="submit"], .createPlan form button[type="button"] {
    font-weight: bold;
    list-style: none;
    text-align: center;
    width: 150px;
    margin: auto;
    line-height: 60px;
}

.createPlan form button[type="submit"] {
    background-color: #f8e5e7; 
}

.createPlan form button[type="button"] {
    background-color: #98fb98; 
}

/* css for edit application */

.editApplication form button[type="submit"], .editApplication form button[type="button"] {
    font-weight: bold;
    list-style: none;
    text-align: center;
    width: 150px;
    margin: auto;
    line-height: 60px;
}

.editApplication form button[type="submit"] {
    background-color: #f8e5e7; 
}

.editApplication form button[type="button"] {
    background-color: #98fb98; 
}

/* css for edit plan */

.editPlan form button[type="submit"], .editPlan form button[type="button"] {
    font-weight: bold;
    list-style: none;
    text-align: center;
    width: 150px;
    margin: auto;
    line-height: 60px;
}

.editPlan form button[type="submit"] {
    background-color: #f8e5e7; 
}

.editPlan form button[type="button"] {
    background-color: #98fb98; 
}

/* css for edit task */

.editTask form button[type="submit"], .editTask form button[type="button"] {
    font-weight: bold;
    list-style: none;
    text-align: center;
    width: 150px;
    margin: auto;
    line-height: 60px;
}

.editTask form button[type="submit"] {
    background-color: #f8e5e7; 
}

.editTask form button[type="button"] {
    background-color: #98fb98; 
}